:root{
    --blue: #0A3871;
    --inter-font: "Inter",sans-serif;
    --ligth-blue:#D8DFE8;
    --main-color:#F3F5FC;
}
html{
    font-size:62.5%
}

body{
    background-color:var(--main-color);
    font-family:var(--inter-font);
}
heder{
    margin-bottom: 5rem;
    width: 60%
}
main{
    display:flex;
    justify-content:space-around;
}
header img{
width: 120px;
height:48px;
}

.form__section{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: 70dvh;
}
.form_input.{
    max-width: 577px;
    height:     50dvh;
    border-color:transparent;
    background:transparent;
    outline: none;
    font-family: var(--inter-font);
    font-size: 3.2rem;
    color: var(--dark-blue);
    margin-bottom: 3rem;
}

::placeholder{
    color: var(--dark-blue);
}
.alert_msj {
    display:flex;
    align-items:center;
    gap: 0.7rem;
    font-size:1.2rem;
    margin-bottom: 1.5rem;
}

.form__btn{
    background: var(--dark-blue);
    color: var(--ligth-blue)
    font-size: 1.6rem;
    padding: 1rem 2rem;
    width: 328px;
    height:67px;
    border-radius:24px;
    border:1px solid var(--dark-blue);
    font-weight: 600;
}
.form_btn--secundary{
    background:VAR(--light-blue);
    color:var(--dark-blue)

}

.result__img{
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    height: 92dvh;
    border-radius: 32px;
    max-width: 40rem;
    width: 100%;
}
.result_img{
    display:none;
}
.hidden{
    display:none
}
@media screen and (max-width: 768px) {
  main{
    flex-direction: column;
}
    .submit__container{
        justify-content: center;
}
 .result{
    height: auto;
    max-width: 624px;
    margin-top: 2rem;
    min-height: 186px;
 }
 .result_img{
    display:none;
} 
header img{
    width: 73px;
}
}